@import "tailwindcss";


body {
  margin: 0;
  background-color: #020210;
}

@keyframes marquee {
  0% {transform: translateX(70%);}
  100% {transform: translateX(-100%);}
}

.marquee{
  animation: marquee 20s linear infinite;
}

