body{
    color: gray;
}

.navbar{
    height: 80px;
    border-bottom: 2px solid rgb(175, 175, 175);
    width: 100%;
    display: flex;
    color: skyblue;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    display: flex;
    align-items: center;
}

.hamburger{
    color: gray;
}

.profile{
    color: black;
}

.hero{
    display: flex;
    flex-direction: column;
}

.left{
    border: 2px solid black;
    height: 86vh;
    width: 17vw;
}